h1 {
  text-align: center;
  font-size: 4em;
  margin-top: 20px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card {
  margin: 1.5em;
  width: 600px;
  box-shadow: 1;
  background-color: #3E5C73;
}

mat-expansion-panel {
  background: #3E5C73;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]){
  background: #3E5C73;
}


button {
  position: relative;
  left: 45%;
}